<!-- Navigation -->
<nav class="main-navigation">
    <div class="container">
        <ul class="nav-menu">
            <li><a href="{{ url('home') }}">الرئيسية</a></li>
            <li><a href="{{ url('products') }}">المنتجات</a></li>
            <li><a href="{{ url('categories') }}">الفئات</a></li>
            <li><a href="{{ url('offers') }}">العروض</a></li>
            <li><a href="{{ url('about') }}">من نحن</a></li>
            <li><a href="{{ url('contact') }}">اتصل بنا</a></li>
        </ul>
    </div>
</nav>